---
import type { GetStaticPaths } from "astro";
import {
  TwitterIcon,
  FacebookIcon,
  InstagramIcon,
  LinkIcon,
} from "lucide-react";
import fetchApi from "../../../../lib/strapi";
import type { Gallery } from "../../../../interfaces/gallery";
import { Button } from "@/components/ui/button";
import PageLayout from "@/layouts/PageLayout.astro";
import Header from "@/components/Header.astro";
import MobileHeader from "@/components/MobileHeader.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import TextRendererComponent from "@/components/TextRendererComponent";
import { environment } from "@/environments/enviroment.develop";

export const getStaticPaths = (async () => {
  const galleries = await fetchApi<Gallery[]>({
    endpoint: "/galleries",
    wrappedByKey: "data",
  });

  return galleries.map((gallery) => {
    return {
      params: {
        slug: gallery.attributes.slug,
      },
    };
  });
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

const gallery = await fetchApi<Gallery>({
  endpoint: `/galleries?filters[slug][$eq]=${slug}`,
  wrappedByKey: "data",
  wrappedByList: true,
});
---

<PageLayout title="Blog Fundaleon" description="Blog posts by the author">
  <Header />
  <MobileHeader />
  <div class="px-4 py-6 pt-20 md:px-6 container lg:py-16">
    <article class="space-y-4 prose prose-gray mx-auto dark:prose-invert">
      <div
        class="space-y-2 not-prose flex flex-col items-center justify-center"
      >
        <div class="flex flex-col md:flex-row justify-between lg:gap-0 flex-wrap max-w-4xl w-full">
          <div class="break-words max-w-xl text-center md:text-left">
            <h2 class="text-4xl font-extrabold tracking-tight lg:text-5xl break-words whitespace-pre-wrap">
              {gallery.attributes.title}
            </h2>
            <div class="flex flex-col md:flex-row gap-2 items-center pt-4">
              <span>Publicado el:</span>
              <FormattedDate date={new Date(gallery.attributes.publishedAt)} />
            </div>
          </div>
          <div class="flex flex-col mx-auto items-center md:mx-0 md:justify-end space-x-4 py-2 mb-10">
            <span class="text-sm font-semibold text-gray-500">
              Compartir:
            </span>
            <div class="flex gap-2">
              <Button variant="outline">
                <TwitterIcon size="16" />
                <span class="sr-only">Twitter</span>
              </Button>
              <Button variant="outline">
                <FacebookIcon size="16" />
                <span class="sr-only">Facebook</span>
              </Button>
              <Button variant="outline">
                <InstagramIcon size="16" />
                <span class="sr-only">LinkedIn</span>
              </Button>
              <Button variant="outline">
                <LinkIcon size="16" />
                <span class="sr-only">Copy link</span>
              </Button>
            </div>
          </div>
        </div>
        <div class="max-w-4xl pt-10 pb-10">
          <TextRendererComponent content={gallery.attributes.text} />
        </div>
        <div class="grid md:grid-cols-2 gap-4 md:gap-6">
          {
            gallery.attributes.images.data.map((image) => (
              <a data-fslightbox="lightbox" target="_blank" href={`${environment.imagesUrl}${image.attributes.url}`}>
                <img
                  alt={image.attributes.alternativeText}
                  class="aspect img hover:scale-105 transition-transform object-cover rounded-lg overflow-hidden border border-slate-200"
                  height={200}
                  src={`${environment.imagesUrl}${image.attributes.url}`}
                  style={{
                    aspectRatio: "600/400",
                    objectFit: "cover",
                  }}
                  width={400}
                />
              </a>
            ))
          }
        </div>
      </div>
    </article>
  </div>
</PageLayout>
