---
import AsideEntry from "./AsideEntry.astro";
import FotoLbw from "@/assets/landing/foto-lbw.jpg";
import PeregrinacionesPortada from "@/assets/landing/peregrinaciones-portada.jpg";
import MartaPortada from "@/assets/landing/marta-portada.jpg";
---

<aside class="w-[22%] min-h-screen pl-4 py-4 hidden lg:block">
  <!-- Foundation Logo - Only show if the path is "/" -->
  <h2 class="xl:text-7xl lg:text-6xl text-wrap break-words pl-2">
    FUNDA
    <br>
    <span class="text-red-800">LEÓN</span>
  </h2>

  <!-- leon face and book -->
  <section class="mt-10 flex flex-col gap-6">
    <div class="LBW__section--box flex flex-col">
      <a data-fslightbox="lightbox" href={FotoLbw.src}
        ><img
          src={FotoLbw.src}
          alt="foto-LBW"
          class="face rounded-lg"
        /></a
      >
      <h3 class="font-bold text-2xl">León Bienvenido Wefer</h3>
      <p class="mb-[35px]">1885 - 1917</p>
    </div>
    <div class="LBW__section--box flex flex-col">
      <a data-fslightbox="lightbox" href={PeregrinacionesPortada.src}
        ><img
          src={PeregrinacionesPortada.src}
          class="rounded-lg"
          alt="foto-Peregrinaciones"
        /></a
      >
      <h3 class="font-bold text-2xl">“Peregrinaciones”</h3>
      <p>Primera Edición, 1905</p>
      <p class="mb-[35px]">Segunda Edición Ampliada, 2006</p>
    </div>
    <div class="LBW__section--box flex flex-col">
      <a data-fslightbox="lightbox" href={MartaPortada.src}>
        <img
          src={MartaPortada.src}
          class="rounded-lg"
          alt="foto-Marta"
        />
      </a>
      <h3 class="font-bold text-2xl">"Marta"</h3>
      <p></p>
    </div>
  </section>

  <!-- Featured blog entries -->
  <section class="mt-10">
    <h3 class="text-2xl font-extrabold">Destacados</h3>
    <ul class="mt-2">
      <AsideEntry />
      <AsideEntry />
    </ul>
  </section>
</aside>

<style>
  /* Aside section */

  .LBW__section {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border: 1px solid #812626;
  }

  .LBW__section--box {
    align-items: center;
  }

  .LBW__section--box a img {
    width: 250px;
    height: 350px;
  }

  .LBW__section--box h3 {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(0, 0, 0);
  }

  .LBW__section--box p {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 14px;
    padding-bottom: 0;
  }
</style>
