---
import { environment } from "@/environments/enviroment.develop";

const { title, description, imageSrc, url, isGallery } = Astro.props;
---

<article
  class="overflow-hidden rounded-lg border border-gray-100 bg-white shadow-sm break-words w-full md:max-w-xs"
  style="min-height: 450px;"
>
  <img
    alt={title}
    src={`${environment.imagesUrl}${imageSrc}`}
    class="h-56 md:w-[320px] w-full md:max-w-xs object-cover"
  />

  <div class="p-4 sm:p-6 w-full md:max-w-xs break-words">
    <a href={url} class="break-words">
      <h3 class="text-lg font-bold text-gray-900 break-words min-h-[56px]">
        {title}
      </h3>
    </a>

    <p
      class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500 break-words min-h-[68px]"
    >
      {description}
    </p>

    <a
      href={url}
      class="group mt-4 btn btn-secondary inline-flex items-center gap-1 text-sm text-white font-bold"
    >
      {
        isGallery ? 'Ver galería' : 'Leer publicación'
      }
      <span
        aria-hidden="true"
        class="block transition-all group-hover:ms-0.5 rtl:rotate-180"
      >
        &rarr;
      </span>
    </a>
  </div>
</article>
