---
import Entry from "@/components/landing/BlogEntry.astro";
import { cn } from "@/lib/utils";
import type { Post } from "interfaces/post";
import fetchApi from "lib/strapi";

const posts = await fetchApi<Post[]>({
  endpoint: "/posts",
  wrappedByKey: "data",
});
---

<!-- Last Entries -->
<section class="py-8 pt-12">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-4xl font-bold">Últimos Posts</h2>
      </div>
    </div>
    <div
      class={cn(
        "flex flex-col md:flex-row items-center flex-wrap gap-2 justify-around py-4 container px-2",
        {
          "justify-center": posts.length < 3,
        }
      )}
    >
      {
        // Render just 3 posts here if exists
        posts.length > 0 && posts.length > 3 ? (
          posts
            .slice(0, 3)
            .map((post) => (
              <Entry
                title={post.attributes.title}
                description={post.attributes.description}
                url={`/blog/post/${post.attributes.slug}`}
                imageSrc={post.attributes.cover.data.attributes.url}
              />
            ))
        ) : posts.length > 0 ? (
          posts.map((post) => (
            <Entry
              title={post.attributes.title}
              description={post.attributes.description}
              url={`/blog/post/${post.attributes.slug}`}
              imageSrc={post.attributes.cover.data.attributes.url}
            />
          ))
        ) : (
          <p>Ningun post encontrado</p>
        )
      }
      <div class="hidden md:block xl:hidden">
        {
          // Render the 4th post if exists
          posts.length > 3 && (
            <Entry
              title={posts[3].attributes.title}
              description={posts[3].attributes.description}
              url={`/blog/post/${posts[3].attributes.slug}`}
              imageSrc={posts[3].attributes.cover.data.attributes.url}
            />
          )
        }
      </div>
    </div>
  </div>
</section>
