---
import Entry from "@/components/landing/BlogEntry.astro";
import { cn } from "@/lib/utils";
import type { Gallery } from "interfaces/gallery";
import fetchApi from "lib/strapi";

const galleries = await fetchApi<Gallery[]>({
  endpoint: "/galleries",
  wrappedByKey: "data",
});
---

<!-- Last Entries -->
<section class="py-8 pt-12">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-4xl font-bold">Últimas Galerias</h2>
      </div>
    </div>
    <div
      class={cn(
        "flex flex-col md:flex-row items-center flex-wrap gap-4 justify-around py-4",
        {
          "justify-start": galleries.length < 3,
        }
      )}
    >
      {
        // Render just 3 posts here if exists
        galleries.length > 0 && galleries.length > 3 ? (
          galleries
            .slice(0, 3)
            .map((gallery) => (
              <Entry
                title={gallery.attributes.title}
                description={gallery.attributes.description}
                url={`/galeria/post/${gallery.attributes.slug}`}
                isGallery={true}
                imageSrc={gallery.attributes.images.data[0].attributes.url}
              />
            ))
        ) : galleries.length > 0 ? (
          galleries.map((gallery) => (
            <Entry
              title={gallery.attributes.title}
              description={gallery.attributes.description}
              url={`/galeria/post/${gallery.attributes.slug}`}
              isGallery={true}
              imageSrc={gallery.attributes.images.data[0].attributes.url}
            />
          ))
        ) : (
          <p>Ningun post encontrado</p>
        )
      }
      <div class="hidden md:block xl:hidden">
        {
          // Render the 4th post if exists
          galleries.length > 3 && (
            <Entry
              title={galleries[3].attributes.title}
              description={galleries[3].attributes.description}
              url={`/galeria/post/${galleries[3].attributes.slug}`}
              isGallery={true}
              imageSrc={galleries[3].attributes.images.data[0].attributes.url}
            />
          )
        }
      </div>
    </div>
  </div>
</section>
