---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import { environment } from "@/environments/enviroment.develop";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, imageSrc, imageAlt, author, slug } = Astro.props;

---

<article class="w-full mx-auto">
    <main class="grid gap-10 lg:gap-20">
        <div class="space-y-4 px-8 max-w-xs mx-auto md:max-w-2xl lg:max-w-6xl">
          <h2 class="text-4xl font-extrabold tracking-tight lg:text-5xl break-words">{title}</h2>
          <div class="flex items-center space-x-4 mt-0">
            <p class="text-gray-600 dark:text-gray-400">
              <FormattedDate date={pubDate} />
            </p>
            <p class="text-gray-600 dark:text-gray-400">•</p>
            <p class="text-gray-600 dark:text-gray-400">{author}</p>
          </div>
          <a data-fslightbox="lightbox" href={`${environment.imagesUrl}${imageSrc}`}>
            <img
              alt="Cover Image"
              class="mx-auto mt-8 rounded-lg object-cover w-full aspect-[1200/900] lg:aspect-[1200/500]"
[]              src={`${environment.imagesUrl}${imageSrc}`}
            />
          </a>
          <p class="text-xl py-4 leading-7 text-gray-600 dark:text-gray-400 break-words">
            {description}
          </p>
          <a class="font-semibold hover:underline text-xl py-4" href=`/blog/post/${slug}`>
            Leer la nota completa
          </a>
        </div>
      </main>
</article>
