---
import FormattedDate from "@/components/FormattedDate.astro";
import { environment } from "@/environments/enviroment.develop";

const { title, description, pubDate, imageSrc, imageAlt, author, slug } =
  Astro.props;
---

<!-- component -->
<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 pb-10 mx-auto">
    <div class="lg:-mx-6 lg:flex lg:items-center">
      <img
        class="object-cover w-80 lg:mx-6 lg:w-[50%] rounded-xl h-72 lg:h-80"
        src={`${environment.imagesUrl}${imageSrc}`}
        alt={imageAlt}
      />
      <div class="w-full lg:w-[42.5%]">
        <a
          href={`/blog/post/${slug}`}
          class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white break-words whitespace-pre-wrap"
        >
          {title}
        </a>

        <p
          class="mt-3 text-sm text-gray-500 dark:text-gray-300 md:text-sm break-words"
        >
          {description}
        </p>

        <a
          href={`/blog/post/${slug}`}
          class="btn btn-secondary mt-2 text-white hover:underline transition py-2"
        >
          Leer más
        </a>

        <div class="flex items-center lg:items-start mt-6">
          <div class="mx-4">
            <h1 class="text-sm text-gray-700 dark:text-gray-200">
              Por {author}
            </h1>
            <p class="text-sm text-gray-500 dark:text-gray-400">
              Publicado el <FormattedDate date={new Date(pubDate)} />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
