---
import Header from "../../components/Header.astro";
import MobileHeader from "@/components/MobileHeader.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import Pagination from "@/components/blog/Pagination.astro";
import BlogEntry from "@/components/blog/BlogEntry.astro";
import fetchApi from "lib/strapi";
import type { Post } from "interfaces/post";

const posts = await fetchApi<Post[]>({
  endpoint: "posts",
  wrappedByKey: "data",
  query: {
    _sort: "date:desc",
    _limit: "9",
  },
});

console.log(posts);
---

<PageLayout title="Blog Fundaleon" description="Blog posts by the author">
  <Header />
  <MobileHeader />
  <div class="pb-8 pt-20 lg:pt-14 container mx-auto">
    <div>
      <h2 class="text-4xl font-bold">Blog Fundaleón</h2>
      <p class="py-4 text-lg max-w-3xl">
        Bienvenido al blog de la Fundación, aquí encontrarás información sobre
        nuestros proyectos, eventos y noticias. Si deseas colaborar con
        nosotros, no dudes en ponerte en contacto.
      </p>
    </div>

    <section class="grid gap-10 lg:grid-cols-2 xl:grid-cols-3 mx-auto py-8">
      {
        posts.map((post) => (
          <BlogEntry
            title={post.attributes.title}
            pubDate={post.attributes.publishedAt}
            description={post.attributes.description}
            cover={post.attributes.cover.data.attributes}
            slug={post.attributes.slug}
          />
        ))
      }
    </section>

    <Pagination />
  </div>
</PageLayout>
