---
import Header from "@/components/Header.astro";
import MobileHeader from "@/components/MobileHeader.astro";
import Paginator from "@/components/Paginator.astro";
import BlogEntry from "@/components/blog/BlogEntry.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import type { Post } from "interfaces/post";
import fetchApi from "lib/strapi";

// All paginated data is passed on the "page" prop
const { page } = Astro.props;

const resPagination = await fetchApi<any>({
  endpoint: `posts?pagination[page]=${page.currentPage}&pagination[pageSize]=9`,
});

const totalResults: number = resPagination.meta.pagination.total;
const totalPages: number = resPagination.meta.pagination.pageCount;
---

<!--Display the current page number. Astro.params.page can also be used!-->
<PageLayout title="Blog Fundaleon" description="Blog posts by the author">
  <Header />
  <MobileHeader />
  <div class="pb-8 pt-20 lg:pt-14 container mx-auto">
    <div>
      <h2 class="text-4xl font-bold">Blog Fundaleón</h2>
      <p class="py-4 text-lg max-w-3xl">
        Bienvenido al blog de la Fundación, aquí encontrarás información sobre
        nuestros proyectos, eventos y noticias. Si deseas colaborar con
        nosotros, no dudes en ponerte en contacto.
      </p>
    </div>

    <section
      class="flex flex-wrap gap-10 md:gap-4 lg:gap-10 lg:grid lg:grid-cols-2 xl:grid-cols-3 mx-auto py-8"
    >
      {
        page.data.map((post: Post) => (
          <BlogEntry
            title={post.attributes.title}
            pubDate={post.attributes.publishedAt}
            description={post.attributes.description}
            cover={post.attributes.cover.data.attributes}
            slug={post.attributes.slug}
          />
        ))
      }
    </section>
    <Paginator
      totalPages={totalPages}
      totalResults={totalResults}
      currentPage={page.currentPage}
    />
  </div>
</PageLayout>
