---
import Layout from "../components/Layout.astro";
import asideFace from "../images/lbw-images/face.jpg"
import asideMarta from "../images/lbw-images/2.jpg"
import asidePeregrinaciones from "../../public/postsImages/books/1.jpg"
---

<Layout>
	<div class="container flex justify-center pt-10 w-[100%] mx-auto min-[320px]:max-md:flex-col min-[320px]:max-md:w-[95%]">
		<aside class="LBW__section h-[25%] w-[30%] mx-auto m-[15px] p-[20px] min-[320px]:max-md:w-full min-[320px]:max-md:h-full">
					<div class="LBW__section--box flex flex-col">
						<a data-fslightbox="lightbox" href={asideFace.src}><img src={asideFace.src} alt="foto-LBW" class="face"></a>
						<h3>León Bienvenido Wefer</h3>
						<p class="mb-[35px]">1885 - 1917</p>
					</div>
					<div class="LBW__section--box flex flex-col">
						<a data-fslightbox="lightbox" href={asidePeregrinaciones.src}><img src={asidePeregrinaciones.src} alt="foto-Peregrinaciones"></a>
						<h3>“Peregrinaciones”</h3>
						<p>Primera Edición, 1905</p>
						<p class="mb-[35px]">Segunda Edición Ampliada, 2006</p>
					</div>
					<div class="LBW__section--box flex flex-col">
						<a data-fslightbox="lightbox" href={asideMarta.src}><img src={asideMarta.src} alt="foto-Marta"></a>
						<h3>"Marta"</h3>
						<p></p>
					</div>
		</aside>
		<section class="main__entries w-[65%] gap-[35px] flex flex-col min-[320px]:max-md:w-full min-[320px]:max-md:mx-auto">
			<div class="blog-card w-full m-[15px]">
				<div class="text-header">
					<p>
						“La muerte acecha en la esquina.<br>
						Engañarla no es fácil,<br>
						Pero el intento es válido”.
					</p>
					<h2>Alberto Hernandez.</h2>
				</div>
				<div class="text-main">
					<p>
						Fundada en diciembre de 2002 para institucionalizar un trabajo por la palabra, la escritura y la lectura que venía desarrollando un grupo de jóvenes en el Complejo Cultural Josefa Camejo de Pueblo Nuevo de Paraguaná. Nandy García, Antony Alvarado, Marta Molina, Abraham Istillarte, Enauri Valles y Yosinny García conformaron la primera junta directiva de la Fundación Literaria León Bienvenido Weffer, para rendir homenaje a éste escritor paraguanero (1885-1917) quien desarrolló una destacada labor literaria entre Pueblo Nuevo y Coro a principios el siglo XX, resaltando las publicaciones del poemario “Peregrinación” 1905 y la novela “Marta” 1907, además de artículos en periódicos regionales y nacionales de la época.<br><br>
						Guillermo de León Calles, Cesar Seco, Simón Petit, Hugo Fernandez Oviol, Chirinos, Douglas Salazar, Pedro Gamboa, Celsa Acosta, Benito Mieses, Darío Media, José Barroso, Wolfang Garvet, Víctor Hugo Bolívar, Marvella Correa, Salomón Lugo, Paúl González Palencia. entre otros; participaron en los primeros encuentros realizados en los pasillos de la casa cultural. Pueblo Nuevo sintió con fuerza el paso, las conversas y exposiciones de una representación importante de la literatura falconiana, el oído atento fue dando espacio para nuevas propuestas, para nuevos y mayores retos.
						Captar y aumentar el público interesado por la literatura pasó a ser el nuevo reto, y llegan los concursos literarios, el primero de alcance regional, con el nombre de concurso literario  nuevas voces auspiciado por Ediciones La Tuna Florecida, la Fundación Cultural Josefa Camejo y la Fundación Literaria León Bienvenido Weffer, producto de ello es la primera publicación en la que se involucra directamente la fundación.  El segundo de alcance nacional: I concurso de Poesía “León Bienvenido Weffer”, que con una participación importante llegaron ejemplares de  Barquisimeto, Caracas, Maracaibo, Barcelona, Maracay, y de la región falconiana a la convocatoria. Obtiene el premio el texto  “Crónicas del exilio” de Luislis Morales Galindo; profesora del Pedagógico de Caracas y doctorado en la Universidad de Salamanca, España.<br><br>
						Promover el libro y la lectura es el objetivo principal de la fundación, en ese sentido llevar a las comunidades del Municipio Falcón el trabajo editorial fue el estímulo para el nacimiento de la Feria del Libro de Paraguaná; realizándose  cinco ediciones, cubriendo geográficamente toda la extensión del municipio y abarcando una completa programación que incluyó conferencias, recitales de poesía, foros, talleres, Expoventa de libros, presentación de novedades editoriales, actividad musical y teatro. El apoyo del Ministerio de Cultura y su Gabinete Regional fue fundamental para la concreción de dicha propuesta. La presencia de invitados especiales como: Antonio López Ortega, Armando José Sequera, Pedro Salima, Luís Edgar Páez, entre otros. Dan cuenta del nivel logrado hasta entonces. <br><br>
						El  Encuentro de jóvenes liceístas del Municipio Falcón es otra  iniciativa  que desde la Fundación se hace con el firme propósito de crear y mantener espacios para la reflexión y el dialogo. En éste caso entre los estudiantes, docentes y representantes de las comunidad liceísta. La palabra, la lectura y la escritura son los ejes alrededor de los cuales gira las diferentes actividades que se programan en cada encuentro, IV ediciones realizadas con la participación de  la mayoría de los liceos del distrito escolar municipal dan muestra del interés que existe en estos encuentros, del mismo podemos resaltar la participación de AniusKa Refunjol en la publicación “Nuevas voces en la mirada del mañana” Vol. II publicación que recoge una selección de textos producto de los talleres de creación literaria del programa “Circuito Liceístas de las Letras” promovido por la Casa Nacional de las Letras Andrés Bello; talleres que tuvieron cabida en Paraguaná de la mano del poeta Benito Mieses. Factor fundamental y de gran valor para el éxito de los encuentros entre los jóvenes liceístas organizados por la fundación.<br><br>
						De la mano del Gabinete Ministerial de Cultura del Estado Falcón, Pueblo Nuevo ha sido sede del V festival Mundial de Poesía con la presencia de los poetas internacionales Brigitta Jondostir de Islandia y Leopoldo Castilla de Argentina; de la IV Feria Internacional del Libro de Venezuela con la presencia de Carlos Vallejo de Ecuador; como circuito de la VI Bienal Internacional de Literatura “Elías David Curiel” con la presencia de Ana María Oviedo Palomares y Leonardo Ruiz.
						Las publicaciones de la Fundación literaria han sido un eje principal y base que fortificó los simientos de nuestra institución. De la mano de Isaac Lopez y el Grupo Tiquiba se concibieron diferentes proyectos editoriales que sumado a otras instituciones conformaron los siguientes textos:  “Tengo mi Paraguaná” décimas de Juan Nepomuceno Rodriguez y Ciro Alvarado; “Peregrinaciones” de León Bienvenido Weffer; “Alí Brett Martínez, la luz puntal que nos alumbra” varios autores, “Juan de la Cruz Esteves, Cronista de la tierra paraguanera” de Nandy García; “Tiquiba, una experiencia de teatro comunitario” de Nandy García, Antony Alvarado e Isaac López” “El año del Hambre, la sequía y el desastre de 1912 en Paraguaná” de María Victoria Padilla, “Influencia de Aruba en la dinámica histórica de Paraguaná (1840 - 1850) de David Chacón Torres y Pablo Moreno Urbina.<br><br>
						Los docentes han sido atendidos en diferentes talleres literarios destacando los realizados por Luislis Morales Galindo autora del “Cuaderno pedagógico para docentes de Educación Media” sobre la implementación de Talleres  Literarios en los liceos dictando en el Complejo Cultural Josefa Camejo la   Enseñanza de la Literatura en la Escuela dirigido  a  docentes  de  la  educación  primaria  y  Enseñanza de la Literatura en el Bachillerato dirigido a docentes de la educación secundaria, de igual  perfil nos acompañó el poeta Benito Mieses con el taller de “Acercamiento a la literatura en el bachillerato”.<br>

						<br>Y a decir del amigo puntual José Gregorio Vasquez, quien nos ha acompañado en los proyectos editoriales y ha pasado a formar parte del equipo asesor de la fundación; “Y quien persiste en el anhelo de seguir/ no va solo/ aunque limitada sea la hora/ y final el juicio severo del tiempo”. (Decir un día  2018)
					</p>
				</div>
			</div>
		</section>
	</div>
</Layout>

<style>
	
/* Main arcticle */

	.main__entries{
		align-items: center;
	}

	.blog-card{
		border:1px solid #812626;
		text-align:center;
	}

	.blog-card:hover, .blog-card:active{
		transition: (0.3s);
		box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
		-webkit-transition: (0.3s);
		-moz-transition: (0.3s);
		-ms-transition: (0.3s);
		-o-transition: (0.3s);
	}

	.text-header h2{
		margin-top:15px;
		font-size: 20px;
		padding-right: 3em;
		padding-top: 5px;
		color:#202020;
		text-align: right;
	}

	.text-header h3{
		font-size: 15px;
		color:#2b2b2b;
		text-align: right;
		font-style: italic;
		font-weight: 500;
		padding-right: 30px;
	}

	.text-header p{
		text-align: right;
		padding-right: 4em;
		padding-top: 4em;
		font-style: italic;
		font-size: 15px;
	}
			
	.text-main{
		padding-right: 30px;
		padding-left: 30px;
		margin-top: 30px;
		padding-bottom: 30px;
		line-height:22px;
		text-align: justify;
		font-style: italic;
		font-size: 18px;
	}

	/* Aside section */


	.LBW__section {
		box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
		border: 1px solid #812626;
	}

	.LBW__section--box{
		align-items: center;
	}

	.LBW__section--box a img{
		width: 100%;
		height: 350px;
	}

	.LBW__section--box h3{
		text-align: center;
		padding-top: 8px;
		padding-bottom: 0px;
		padding-left: 8px;
		padding-right: 8px;
		font-size: 18px;
		color: rgb(0, 0, 0);
	}

	.LBW__section--box p{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 14px;
	padding-bottom: 0;
	}

</style>