---
import { ViewTransitions } from "astro:transitions";
import type { Post } from "interfaces/post";
import fetchApi from "lib/strapi";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Aside from "@/components/landing/Aside.astro";
import Footer from "@/components/Footer.astro";
import MainEntry from "@/components/landing/MainEntry.astro";
import LastEntries from "@/components/landing/LastEntries.astro";
import LastGaleries from "@/components/landing/LastGaleries.astro";
import MobileHeader from "@/components/MobileHeader.astro";

const posts = await fetchApi<Post[]>({
  endpoint: "/posts",
  wrappedByKey: "data",
});

const mainPost = posts[0];
---

<!doctype html>
<html lang="es" data-theme="autumn">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body>
    <div class="flex py-4 w-full pb-8 pt-20 lg:pt-4 container px-2 md:px-4">
      <Aside />
      <div class="w-full lg:w-[80%]">
        <Header />
        <MobileHeader />
        <main class="w-full lg:pt-8">
          <MainEntry
            title={mainPost.attributes.title}
            description={mainPost.attributes.description}
            slug={mainPost.attributes.slug}
            pubDate={new Date(mainPost.attributes.publishedAt)}
            imageSrc={mainPost.attributes.cover.data.attributes.url}
            imageAlt={mainPost.attributes.cover.data.attributes.alternativeText}
            author={mainPost.attributes.author.data.attributes.name}
          />
          <LastEntries />
          <LastGaleries />
        </main>
      </div>
    </div>
    <Footer />
    <script src="../../node_modules/lightbox2/dist/js/lightbox-plus-jquery.js"></script>
  </body>
</html>
