---
import FormattedDate from "../FormattedDate.astro";

const { title, pubDate, description, images } = Astro.props;

console.log({
  title,
  pubDate,
  description,
  images,
});
---

<div class="space-y-2 hover:bg-red-50 transition-colors p-4 rounded-lg">
  <a class="font-medium" href="#">
    <h2 class="text-2xl font-bold tracking-tight min-h-[64px]">
      {title}
    </h2>
  </a>
  <p class="text-gray-500 dark:text-gray-400">
    <FormattedDate date={pubDate} />
  </p>
  <p class="min-h-[144px] max-h-[144px]">
    {description}
  </p>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 py-4">
    {
      images.map((image: { src: string; alt: string }) => (
        <a data-fslightbox="fslightbox" href={image.src}>
          <img src={image.src} alt={image.alt} class="rounded-lg" />
        </a>
      ))
    }
  </div>
  <a href="#" class="hover:underline transition text-lg"> Leer más </a>
</div>
